body {
    text-align: center;
    font-size: 18px;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
}

h1 {
   font-size: 32px;
   margin-bottom: 20px;
}

ul {
    list-style: none;
}

.containter {
    width: 100%;
    padding: 20px;
}
