<!DOCTYPE html>
<html>
<head>
    <title>Retro Game Library</title>
</head>

<body>
    <h1>Retro Game Library</h1>

    <ul>
        {{#games}}
        <li>
            {{title}} {{platform}}, {{year}}
            <form action="/api/games/{{id}}" method="POST" style="display:inline;">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Delete</button>
            </form>
            <a href="/edit-game/{{id}}">Edit</a>
        </li>
        {{/games}}
    </ul>

    <a href="/add-game"> Add a new game </a>
</body>
</html>